<div class="navbar" style="background-color: #176B87 !important">
  <a href="{{ url_for('dashboard') }}" class="nav-link {% if accueil %}activer{% endif %}">Accueil</a>
  {% if not session['utilisateurs'] %}
  <a href="{{ url_for('login') }}" class="nav-link {% if login %}activer{% endif %}">Connexion</a>
  {% else %} 
    {% if session['user_type']=="gestionnaire" %}
      <div class="subnav">
        <button class="subnavbtn">Gestion des clients <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          <a href="{{ url_for('ajoutclient') }}" class="nav-link {% if ajoutclient %}activer{% endif %}">Ajouter Clients</a>
          <a href="{{ url_for('voirclient') }}" class="nav-link {% if voirclient %}activer{% endif %}" >Voir Clients</a>
          <a href="{{ url_for('modifierclient') }}" class="nav-link {% if modifierclient %}activer{% endif %}">Modifier Clients</a>
          <a href="{{ url_for('statutclient') }}" class="nav-link {% if statutclient %}activer{% endif %}">Statut Clients</a>
        </div>
      </div>
      <div class="subnav">
        <button class="subnavbtn">Gestion des comptes <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          <a href="{{ url_for('ajoutcompte') }}" class="nav-link {% if ajoutcompte %}activer{% endif %}">Ajouter Comptes</a>
          <a href="{{ url_for('voircompte') }}" class="nav-link {% if voircompte %}activer{% endif %}">Voir Comptes</a>
          <a href="{{ url_for('voircomptestatut') }}" class="nav-link {% if voircomptestatut %}activer{% endif %}">Statut Comptes</a>
        </div>
      </div>
    {% elif session['user_type']=="caissier" %}
      <div class="subnav">
        <button class="subnavbtn">Gestion des comptes <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          <a href="{{ url_for('voircompte') }}" class="nav-link {% if voircompte %}activer{% endif %}">Voir Comptes</a>
          <a href="{{ url_for('declaration') }}" class="nav-link {% if declaration %}activer{% endif %}">Relevé de compte</a>
        </div>
      </div>
    {% endif %}
    <a href="{{ url_for('logout') }}" class="nav-link">Déconnexion</a>
  {% endif %}

  {% if session['utilisateurs'] %}
    <div class="subnav float-right">
      <p class="float-right font-weight-bold" style="color:#070439">{{ session['nom'] }} ({{ session['user_type'] }})</p>
    </div>
  {% endif %}
</div>