{% extends "base.html" %}

{% block title %}Modifier Client{% endblock %}

{% block content %}
<div class = "row col-md-8 my-5">
    <div class="card col-md-8 mx-auto px-0">
        <div class="card-header text-center" style="color:#64CCC5;background-color:#176B87; font-size:18px;font-weight:bold;">
            MODIFIER DETAILS DU CLIENT
        </div>
        <div class="card-body" style="background-color:#64CCC5;">
            <form action="{{ url_for('modifierclient',id_client=data.id_client) }}" method="POST">
                <table class="col-12" style="color:#fff; height:20vh;" >
                    <tbody >
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Client SSN Id</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-5">{{ data.client_ssn_id }}</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Id Client</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-5">{{ data.id_client }}</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Ancien Nom</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-5">{{ data.nom }}</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3" for="name">Nouveau Nom</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group pl-3">
                                   <input class="form-control" name="nom" id="name" type="textfield" placeholder="Nouveau nom" required maxlength="50">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Ancien Email</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-5">{{ data.email }}</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3" for="address">Nouveau Email</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group pl-3">
                                   <input class="form-control" name="email" id="address" type="textfield" placeholder="Nouveau Email" maxlength="100">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Ancien Age</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-5">{{ data.age }}</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3" for="age">Nouveau Age</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group pl-3">
                                   <input class="form-control" name="age" id="age" type="textfield" placeholder="Nouveau Age" maxlength="3">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <div class="form-group input-group mt-3">
                                    <input type="submit" style="color:#64CCC5;background-color:#176B87;font-weight:bold; font-size:18px;" value="Modifier" onclick="alert('Êtes-vous sûr de vouloir éditer ces données clients ?')" class="btn mx-auto">
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}