{% extends "base.html" %}

{% block title %}Supprimer Compte{% endblock %}

{% block content %}
<div class = "row mb-3">
    <div class="card">
        <div class="card-header text-center" style="color:#64CCC5;background-color:#176B87; font-size:18px;font-weight:bold;">
            SUPPRIMER COMPTE
        </div>
        <div class="card-body" style="background-color:#64CCC5;">
            <form class="row gy-2 gx-3 align-items-center" action="supprimercompte" method="POST" style="height: 40vh; display: contents;"  >
                <div class="col-auto">
                    <label class="m-auto pr-3" for="id_client"  style="color:#fff; font-weight:bold;font-size:18px;">ID du Compte</label>
                   <input class="form-control" name="id_compte" id="id_compte" type="textfield" placeholder="ID du Compte" required maxlength="9">
                </div>
                <br>
                <div class="col-auto" style="width: 35vw">
                    <label for="type_de_compte" style="color:#fff; font-weight:bold;font-size:18px;">Choisir le type de compte:</label>
                    <select class="form-control" id="type_de_compte" name="type_de_compte" >
                        <option value="Actuel" style="color:#000; font-weight: bold; font-size:15px ">Actuel</option>
                        <option value="Épargne" style="color:#000; font-weight: bold; font-size:15px ">Épargne</option>
                    </select>
                </div>
                <br>
                <div class="form-group col-12">
                    <input type="submit"  style="color:#64CCC5;background-color:#176B87;font-weight:bold; font-size:18px;" value="Envoyer" class="btn float-left login_btn">
                    <button class="reset_btn btn float-right"  style="color:#64CCC5;background-color:#176B87;font-weight:bold; font-size:18px;">réinitialiser</button>
                </div>
              </form>
        </div>
    </div>
</div>
{% endblock %}